.label-item {
  ::ng-deep {
    .mat-checkbox-inner-container {
      margin-top: 0 !important;
    }

    .mat-checkbox-layout {
      align-items: center;

      .mat-checkbox-label {
        line-height: 18px;
        overflow: hidden;
      }
    }
  }

  &__action {
    visibility: hidden;
  }

  &:hover {
    .label-item__action {
      visibility: visible;
    }
  }
}
