<div
  fxFlex
  fxLayout="row"
  fxLayoutAlign="start center"
  class="label-item"
  [formGroup]="label"
>
  <mat-checkbox
    *ngIf="!isInEditMode"
    [disabled]="isDisabled"
    fxFlex
    fxLayout="row"
    [color]="'primary'"
    formControlName="selected"
  >
    {{ label.get('name').value }}
  </mat-checkbox>

  <mat-form-field *ngIf="isInEditMode" appearance="standard">
    <input matInput formControlName="name" />
  </mat-form-field>

  <div
    *ngIf="!isInEditMode && !isDisabled"
    fxLayout="row"
    style="margin-left: auto"
  >
    <button mat-icon-button class="label-item__action" (click)="onEdit()">
      <mat-icon>edit</mat-icon>
    </button>
    <button mat-icon-button class="label-item__action" (click)="onDelete()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div *ngIf="isInEditMode" fxLayout="row" style="margin-left: auto">
    <button mat-icon-button class="label-item__action" (click)="onSave()">
      <mat-icon style="color:green;">check_circle</mat-icon>
    </button>
    <button mat-icon-button class="label-item__action" (click)="onDiscard()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
</div>
