<mat-list-option
  checkboxPosition="before"
  [disableRipple]="true"
  role="listitem"
  class="label-item"
>
  <div fxFlex fxLayout="row" fxLayoutAlign="start center">
    <div matLine [title]="label.name">
      {{ label.name }}
    </div>
    <div fxLayout="row" style="margin-left: auto">
      <button mat-icon-button class="label-item__action">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button class="label-item__action">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</mat-list-option>
