.label-dialog-content {
  min-width: 50vw;
  min-height: 50vh;
}

.label-item {
  &__action {
    visibility: hidden;
  }

  &:hover {
    .label-item__action {
      visibility: visible;
    }
  }
}
