<h2 mat-dialog-title>Title</h2>

<mat-dialog-content class="label-dialog-content">
  <mat-selection-list [color]="'primary'" role="listbox">
    <mat-list-option
      checkboxPosition="before"
      role="listitem"
      class="label-item"
      *ngFor="let label of data.labels"
    >
      <div fxFlex fxLayout="row" fxLayoutAlign="start center">
        <div matLine [title]="label.name">
          {{ label.name }}
        </div>
        <div fxLayout="row" style="margin-left: auto">
          <button mat-icon-button class="label-item__action">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button class="label-item__action">
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </div>
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="ok()">OK</button>
</mat-dialog-actions>
