<h2 mat-dialog-title>Title</h2>

<mat-dialog-content class="label-dialog-content">
  <mat-selection-list [color]="'primary'" role="listbox">
    <mat-list-option
      checkboxPosition="before"
      role="listitem"
      *ngFor="let label of data.labels"
    >
      <div fxFlex fxLayout="row">
        <div matLine [title]="label.name">
          {{ label.name }}
        </div>
        <mat-icon>create</mat-icon>
      </div>

      <!-- <button mat-icon-button> -->

      <!-- </button> -->
    </mat-list-option>
  </mat-selection-list>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="ok()">OK</button>
</mat-dialog-actions>
