<h2 mat-dialog-title>{{ data.title }}</h2>

<mat-dialog-content class="label-dialog-content">
  <form>
    <!-- <mat-selection-list [color]="'primary'" role="listbox"> -->
    <div fxFlex fxLayout="column">
      <ng-container
        *ngFor="let label of getLabelFormGroups(); let index = index"
      >
        <app-label-item
          [label]="label"
          [isInEditMode]="editItemIndex === index"
          (onEditStarted)="onEditStarted(index)"
          (onEditFinished)="onEditFinished(index)"
          (onDeleted)="onDeleted(index)"
        ></app-label-item>
      </ng-container>
    </div>
    <!-- </mat-selection-list> -->
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="cancel()">Cancel</button>
  <button mat-raised-button color="primary" (click)="ok()">OK</button>
</mat-dialog-actions>
